<div id="footer">
  <p>(C)sudosan 画像等の著作権は作者に帰属します。</p>
  <p>このサイトはMonappyの公開APIを利用して提供しております</p>
</div>
<div id="info">
  <h3>Monappy総投稿数</h3>
  <p><%=totalinfo %>件</p>
  <a href="/data">詳しい統計はこちら</a>
  <hr>
  <a hreF="/about">About me</a>
</div>
<div id="page-top" class="upicon">👆</div>
<script async type="text/javascript" src="/javascripts/top.js"></script>
</body>
</html>
