<div id="footer">
  <p>(C)sudosan 画像等の著作権は作者に帰属します。</p>
  <p>このサイトはMonappyの公開APIを利用して提供しております</p>
</div>
<div id="page-top" class="upicon">👆</div>
<div id="down_button">
  <a id="downButton" href="javascript:void(0);">一括DL</a>
  <progress id="pr1" style="display:none" max="" value=""></progress>
</div>
<div id="notice">
  <h1>自分のことを１８歳以上だと思いこんでいますか？(いいえだとR18絵は表示されません)</h1>
  <h2 onclick="r18true(true);">はい</h2>
  <h2 onclick="r18true(false);">いいえ</h2>
</div>
<script async type="text/javascript" src="/javascripts/top.js"></script>
<script>
  var list=[<%-list %>];
</script>
</body>
</html>
