  <%- include("./kao",{sw:null}); -%>
    <div id="rank_wrap">
      <div id="daily" class="ranking">
        <h2>デイリーランキング</h2>
        <%- daily %>
      </div>
      <div id="total" class="ranking">
        <h2>トータルランキング</h2>
        <%- total %>
      </div>
    </div>
  </div>
  <%- include("./ashi"); -%>
